@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.topnav {
    background-color: linear-gradient(45deg, #2de278,  #008b56);
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    background-color: linear-gradient(45deg, #cfdad3,  #aebbb6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    /*background: linear-gradient(45deg, #2de278,  #008b56);*/
    color: black;
  }
  
  
  .topnav a.active {
    background: linear-gradient(45deg, #2de278,  #008b56);
    color: white;
  }
  
  
  .topnav .icon {
    display: none;


  }

.anuncio {
    width: 100vw;
    display: flex;
    background: linear-gradient(45deg, #5f6361,  #515554);
    /*padding: 10px 10px;*/
    /*margin: 10px 10px;*/
   
}
.baixo{
    background-color: black;
    position: relative;
    height: 25px;
    clear: both;
}