@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}
body{
    font-family: "Poppins", sans-serif;
    display: flexbox;
}
nav{
    background:#008b56;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 20px; 
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: #2de278;
    transition: .5s;

}
.checkbnt{
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer; 
   display: none; 
}
#check{
    display: none;

}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbnt{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#2de278;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;


    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #ebebe0e0;
    }
    #check:checked ~ ul{
        left: 0;

    }
}.tudo{
    width: 100%;
}
.anunciototal{
    padding: 5px;
    margin: 0.3vw;
    background: #ebebe0e0;
    height:240px;
    width:25vw;
    min-width: 300px;
    position: relative;
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    left: 0%;
}
.meio{
    margin: auto;
	width:77vw;
	/*height: 40vh;*/

    overflow: hidden;
}.ads{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /*flex-wrap:wrap;*/
    
}
.anuncio{
    background: #ebebe0e0;
    height: 180px;
    align-items: center;
    padding: 2px;
    margin: 4px;
}
.descricao{
	background: #ebebe0e0;
	height: 20px;
	padding: 2px;
    margin: 4px;
}
img{
	display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;   	
}
.rodape{
    display: block;
    /*width: 100vw;*/
}.seta{ 
    padding:6px 7px; 
    border:4px solid rgb(124, 124, 124); 
    border-radius:100%; 
    float:left; 
    margin:2px; 
    box-shadow: 0 0 4px rgba(0,0,0,0.7); 
    top: 13.5vw;
    background: rgba(255,255,255,0.8);
    display: block;
}.passar i{ 
    border-left: 20px solid rgb(124, 124, 124);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float:left; 
}.voltar i{
    border-right: 20px solid rgb(124, 124, 124);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float:left; 
}.voltar{
    left: 9.8vw;
    display: none;
    transition: 2s right;
}.passar{
    right: 9.8vw;
    transition: 2s left;
}


