@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: chartreuse;
    background-size:cover;
    background-repeat: no-repeat;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

main.container {
<<<<<<< HEAD
    /*margin-top: 15vh;*/
=======
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 7vh;
>>>>>>> be15b974f10cac72c10316f18b21801d6268a0f6
    background: white;
    max-width: 450px;
    /*min-height: 40vh;*/
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #2de278,  #008b56);
}
form {
    display: flex;
    flex-direction: column;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 20px; 
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: #2de278;
    transition: .5s;

}
.checkbnt{
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer; 
   display: none; 
}
#check{
    display: none;

}
.tudo{
    background-color:red ;

    width: 100%;
}

.meio{
    margin: auto;
    margin-top: 2%;
	width:77vw;

    overflow: hidden;
}nav{
    margin-top: 0;
    background:#008b56;
    height: 80px;
    width: 100%;
    z-index: 10;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbnt{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#2de278;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.7s;
        z-index: 10;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }nav{
        top:0;
        position: fixed;
    }
    a:hover,a.active{
        background: none;
        color: #ebebe0e0;
    }
    #check:checked ~ ul{
        left: 0;
    
    }.rodape{
        display: block;
    }.meio{
        display: block;
        margin-top: 18vh;
    }
}
a{
    color: #000;
}p{
    font-size: 1em;
}input{
    font-size: 1em;
    width: 100%;
}.enviar{
    margin-top: 10%;
}
form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #2de278,  #008b56);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #2de278,  #008b56);
}
